@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);

body {
    font-family: 'Merriweather Sans', serif;
    font-size: 30px;
    color: white;
}

nav {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

nav ul {
    list-style-type: none;
    float: right;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    text-decoration: underline;
    color: red;
}

.container {
    clear: both;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: block;
}

.textWrap {
    float: left;

}

.imgCircle {
    border-radius: 50%;
    margin-right: 15px;
}

.title {
    background-color: black;
    margin-bottom: 0;
}
.title h1 {
    margin: 0;
}
#bioArt {
    margin-top: 0;
    background-color: antiquewhite;
    padding: 15px;
    color: #000;
}